* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 30px 80px;
  background-color: #f0f4f8;
  color: #333;
}

h2 {
  color: #2c3e50;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 30px auto;
  background-color: #ffffff;
  padding: 30px 30px 15px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="time"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.time-div {
  /* 위 text input과 가로 길이 맞추기 위해 */
  display: flex;
  align-items: center;
  gap: 10px;
}

.time-div input[type="time"] {
  flex: 1;
}

input[name="alarm"],
select {
  width: 20%;
  text-align: right;
}

input[type="text"]:focus,
input[type="time"]:focus,
select:focus {
  border-color: #3498db;
  outline: none;
}

.btn-div {
  /* 버튼 가운데 정렬 */
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  width: 100%;
  padding: 12px 0px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 23px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

span {
  padding: 0px 5px;
  font-size: 14px;
}
